.App {
  text-align: center;
  border: 30px solid slateblue;
  padding: 30px;
  color: indigo;
  background-color: aliceblue;
  font-family: 'Copperplate';
}

#beast {
  border: 5px solid cornflowerblue;
  border-radius: 25px;
  color: blueviolet;
  background-color: lavender;
  }

.beastImg {
  border: 4px solid blueviolet;
  border-radius: 25px;
}

.blueHeader {
  font-size: 100px;
  text-shadow: 3px 5px black;
  color: cornflowerblue;
}

.purpleHeader {
  font-size: 100px;
  text-shadow: 3px 5px black;
  color: indigo;
}

.heart {
  font-size: 20px;
  color: red;
}

.beastDescription {
  margin-top: 10px;
}

.col {
  margin-bottom: 25px;
}
