*{
  background-color: lightgoldenrodyellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* STEP 4: Style the canvas */

/*
canvas {
  width: 75%;
  height: 500px;
  margin: 40px auto;
  display: block;
}
*/