/* =========================
   GLOBAL STYLES
   ========================= */

body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  padding: 20px;
  color: #333;
}

/* =========================
   TEXT STYLES
   ========================= */

h1 {
  color: #2c3e50;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

article {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid darkslategrey;
}

p {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.6;
}

/* =========================
   FIGURE STYLES
   ========================= */

figure {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ccc;
  max-width: 450px;
  margin-bottom: 25px;
}

figcaption {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: center;
}

/* =========================
   BASE IMAGE STYLE
   ========================= */

img {
  width: 100%; /* Recommended way to resize. This keeps it responsive*/
  display: block;
  /* max-width: 300px; */  /*Prevents images from getting too large on wide screens. */
  /* height: 200px; */   /*fixed heights can strech images and distort them
                          If your image looks squished, height is usually the problem. */
}

/* =========================
   IMAGE VARIATIONS
   ========================= */

/* Basic image */
/* .img-basic { */
  /* no extra styling */
/* } */

/* Border example */
.img-border {
  border: 6px solid #2c3e50;
}

/* Rounded corners */
.img-rounded {
  border-radius: 12px;
  /* border-radius: 50%; */
}

/* Shadow effect */
.img-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 4px 10px #ff9900;*/ 
     /* box-shadow: 0 0 15px rgba(0, 102, 255, 0.6); */
}

/* =========================
   IMAGE SIZE DEMO
   ========================= */

.image-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* nowrap is DEFAULT --> flex-wrap controls whether flex items stay on one line or move onto multiple lines inside a flex container. 
With wrap --> items move to the next line when they run out of space
Creates multiple rows (or columns if using flex-direction: column*/
}

.img-small {
  width: 150px;
}

.img-medium {
  width: 250px;
}

.img-large {
  width: 350px;
}
